#include <input/processors.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/input_transform.h>

#define DEF 0

/ {
        keymap {
                compatible = "zmk,keymap";
                DEF_layer {

                      bindings = <
                            &mkp LCLK
                        >;
                };
       };
};
