/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>

#define DEFAULT 0
#define ACT 1
#define SYM 2

/ {
        &lt {
            tapping-term-ms = <200>;
            quick-tap-ms = <-1>;
        };

        behaviors {
            hm: homerow_mods {
                compatible = "zmk,behavior-hold-tap";
                #binding-cells = <2>;
                tapping-term-ms = <200>;
                flavor = "balanced";
                bindings = <&kp>, <&kp>;
                quick-tap-ms = <-1>;
            };
        };

        

        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        bindings = <
        &kp Q           &kp W           &lt SYM E       &lt ACT R   &kp T                       &kp Y           &lt ACT U   &lt SYM I   &kp O           &kp P   
        &kp A           &hm LSHIFT S    &hm LCTRL D     &hm LALT F  &hm LGUI G                  &hm LGUI H      &hm LALT J  &hm LCTRL K &hm LSHIFT L    &hm SQT LS(N2)
        &kp LSHFT       &kp Z           &kp X           &kp C       &kp V                       &kp B           &kp N       &kp M       &kp COMMA       &kp DOT
                                        &kp LGUI        &mkp MB2    &mkp MB1                    &lt SYM SPACE   &mo SYM     &kp RALT
                        >;
                };
                action_layer {
                        bindings = <
        &kp ESC         &kp W           &kp END         &kp R       &kp T                       &kp Y       &kp U       &kp UP      &kp DEL         &kp BSPC   
        &kp TAB         &mt LSHIFT S    &kp LCTRL       &kp LALT    &kp LGUI                    &kp HOME    &kp LEFT    &kp DOWN    &kp RIGHT       &kp RET
        &kp LSHFT       &kp Z           &kp X           &kp C       &kp V                       &kp B       &kp N       &kp M       &kp COMMA       &kp DOT
                                        &kp LGUI        &trans      &trans                      &trans      &trans      &kp RALT
                        >;
                };

                symbol_layer {
                        bindings = <
        &kp QMARK       &kp PLUS        &kp EQUAL       &kp LS(N8)              &kp LS(NUHS)                &kp RA(N4)  &kp UNDER   &mt RBKT LBKT   &kp LS(NUBS)            &mt LS(N0) LS(N9)
        &kp LS(N7)      &kp SEMI        &kp LS(N4)      &mt NUBS FSLH           &kp GRAVE                   &kp NUHS    &none       &kp COLON       &mt LS(DOT) LS(COMMA)   &kp LS(N2)
        &kp LSHFT       &kp LS(N5)      &kp LS(SQT)     &mt LS(RBKT) LS(LBKT)   &kp LS(N6)                  &kp B       &kp LS(N1)  &kp MINUS       &kp LS(COMMA)           &kp LS(DOT)
                                        &kp LGUI        &trans                  &trans                      &trans      &trans      &kp RALT
                        >;
                };
        };
};
