if SHIELD_CORNEDONGLE_LEFT

config ZMK_KEYBOARD_NAME
    default "CorneDongle"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_CORNEDONGLE_LEFT || SHIELD_CORNEDONGLE_RIGHT

config ZMK_SPLIT
    default y

endif
